<style>
    header #nav {
        display: none !important;
    }
</style>
<main class="my-5" style="flex: 1 1 0">
    <section>
        <div class="container">
            <h1 class="p-0 m-0">Consulte os pagamentos</h1>
            <div class="card">
                <div class="card-header">
                    <form method="GET" class="mb-2">
                        <div class="d-flex align-items-end gap-5">
                            <div>
                                <p class="sort">Ordem de criação:</p>
                                <select name="sort" id="sort" class="form-select">
                                    <option value="DESC">Recente -> Antigo</option>
                                    <option value="ASC">Antigo -> Recente</option>
                                </select>
                            </div>
                            <div>
                                <p class="limit">Limite por página:</p>
                                <select name="limit" id="limit" class="form-select">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="20">50</option>
                                    <option value="20">100</option>
                                </select>
                            </div>
                            <div>
                                <p class="filter">Filtro por status:</p>
                                <select name="filter" id="filter" class="form-select">
                                    <option value="approved">Aprovado</option>
                                    <option value="in_process">Em processamento</option>
                                    <option value="rejected">Rejeitado</option>
                                </select>
                            </div>
                            <div class="d-none">
                                <input type="text" name="page" id="page" value="1">
                            </div>
                            <input type="submit" value="Filtrar" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="container">
                    <div class="card-body w-100" style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 16px;">
                        {{#each payments}}
                            <div class="mb-3 px-2 py-4 border border-{{#styleBorderPayment status}}{{/styleBorderPayment}} rounded">
                                <p class="mb-1">
                                    <b>ID: </b> {{transactionId}}
                                </p>
                                <p class="mb-1">
                                    <b>Valor: </b>€ {{#formatTransactionAmount transaction_amount}}{{/formatTransactionAmount}}
                                </p>
                                <p class="mb-1">
                                    <b>Status: </b> {{#formatStatusPayment status}}{{/formatStatusPayment}}
                                </p>
                                <p class="mb-1"><b>Criado em: </b>{{#formatDate createdAt}}{{/formatDate}}</p>
                                {{#if updatedAt}}
                                    <p class="mb-1"><b>Última atualização: </b>{{#formatDate updatedAt}}{{/formatDate}}</p>
                                {{/if}}
                                <hr>
                                {{#each visaIDs}}
                                    <p class="mb-1">
                                        <b>Nome: </b>{{this.firstName}} {{this.surname}}
                                    </p>
                                    <p class="mb-1">
                                        <b>Código de acompanhamento: </b>{{this.codeETA}}
                                    </p>
                                {{/each}}
                            </div>
                        {{else}}
                            <h3>Não há registro de pagamentos</h3>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    document.getElementById('link-logo-home').href = '/admin'

    var elementoPai = document.getElementById("header-container")
    var novoElementoFilho = document.createElement("div")
    novoElementoFilho.innerHTML = `
        <a href="/admin/register-user" class="mx-4" style="color: white">Registrar usuário</a>
        <a href="/admin/consult-users" class="mx-4" style="color: white">Consultar usuários</a>
        <a href="/admin/consult-payments" class="mx-4" style="color: white">Consultar pagamentos</a>
        <a href="/users/logout" class="ms-4 btn btn-danger text-upperccase fw-bold">Sair</a>
    `
    elementoPai.appendChild(novoElementoFilho)
</script>
