<style>
    header #nav {
        display: none !important;
    }

    .modal-body .w-50 {
        width: 100% !important;
    }

    .modal-body .w-25 {
        width: 50% !important;
    }

    .modal-body p {
        font-weight: 600;
    }
</style>
<main style="flex: 1 1 0">
    <section class="section-1 full-width py-4">
        <div class="container py-3">
            <h1 class="h2">Acompanhe as solicitações</h1>
            <p class="w-75 mb-2">Abaixo estão todas as solicitações feitas. Os dados do formulário são salvos antes de efetuar o pagamento. Dessa forma, se algum cliente não conseguiu concluir o pagamento por algum motivo, a equipa do eTA Canadiano terá os dados de contato do usuário.</p>
            <div class="card">
                <div class="card-header d-flex justify-content-between">
                    <form method="GET" class="mb-2">
                        <div class="d-flex align-items-end gap-5">
                            <div>
                                <p class="sort">Ordem de criação:</p>
                                <select name="sort" id="sort" class="form-select">
                                    <option value="DESC">Recente -> Antigo</option>
                                    <option value="ASC">Antigo -> Recente</option>
                                </select>
                            </div>
                            <div>
                                <p class="limit">Limite por página:</p>
                                <select name="limit" id="limit" class="form-select">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="20">50</option>
                                    <option value="20">100</option>
                                </select>
                            </div>
                            <div>
                                <p class="filter">Buscar pelo passaporte:</p>
                                <input type="text" name="filter" id="filter" class="form-control" value="{{filter}}">
                            </div>
                            <div class="d-none">
                                <input type="text" name="page" id="page" value="1">
                            </div>
                            <input type="submit" value="Filtrar" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    {{#each visas}}    
                        <div class="card my-5">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="m-0 p-0" style="text-transform: uppercase">{{firstName}} {{surname}}</h3>
                                        <p class="m-0">Criado em: {{#formatDate createdAt}}{{/formatDate}}</p>
                                    </div>
                                    <div class="col d-flex flex-row justify-content-end align-items-start gap-3">
                                        <p>Ações: </p>
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target=".view{{id}}"><i class="bi bi-eye-fill"></i></button>
                                        {{!-- <a href="admin/details-visa/{{id}}" target="_blank" type="button" class="btn btn-info"><i class="bi bi-printer-fill"></i></a> --}}
                                        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target=".update{{id}}"><i class="bi bi-pencil-fill"></i></button>
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target=".delete{{id}}"><i class="bi bi-x-square-fill"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <b>Cód. acompanhamento: </b>{{codeETA}}<br>
                                        <b>Número passaporte: </b>{{numPassport}}
                                    </div>
                                    <div class="col">
                                        <b>E-mail: </b>{{contactEmail}}<br>
                                        <b>Telefone: </b>{{contactTel}}
                                    </div>
                                    <div class="col">
                                        <b>Status aplicação: </b>{{statusETA}}<br>
                                        <b>Pagamento: </b>{{#formatStatusPayment pagamento.status}}{{/formatStatusPayment}}
                                    </div>
                                </div>                                
                            </div>
                        </div>

                        {{!-- SOLICITAÇÂO MODAL VIEW --}}
                        <div class="modal fade view{{id}}" tabindex="-1" aria-pledby="exampleModalP" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="exampleModalP">Detalhes da solicitação</h3>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-p="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="codeETA">Código de acompanhamento</p>
                                        <input type="text" class="form-control mb-3 w-50" value="{{codeETA}}" disabled>

                                        {{#if representative}}
                                            <h3 class="h5">Dados do representante</h3>

                                            <p class="mb-2">Você é responsável ou representante que apresenta a solicitação de eTA em nome de outra pessoa?</p>
                                            <p class="d-inline-block alert-success p-1 mb-3">Sim</p>

                                            <p class="mb-2">Eu sou</p>
                                            <select class="form-control w-50 mb-3" disabled>
                                                <option>{{representativeRelationship}}</option>
                                            </select>

                                            <p class="mb-2">Você está sendo pago para representar o requerente e preencher o formulário em seu nome?</p>
                                            {{#if representativePayed}}
                                                <p class="d-inline-block alert-success p-1 mb-3">Sim</p>
                                            {{else}}
                                                <p class="d-inline-block alert-danger p-1 mb-3">Não</p>
                                            {{/if}}

                                            <p class="mb-2">Nome:</p>
                                            <input class="form-control mb-3 w-50" type="text" value="{{representativeName}}" disabled>

                                            <p class="mb-2">Sobrenome(s):</p>
                                            <input class="form-control mb-3 w-50" type="text" value="{{representativeSurname}}" disabled>

                                            <p class="mb-2">Nome da empresa:</p>
                                            <input class="form-control mb-3 w-50" type="text" value="{{representativeOrgName}}" disabled>

                                            <p class="mb-2">Endereço:</p>
                                            <input class="form-control mb-3 w-50" type="text" value="{{representativeAddress}}" disabled>

                                            <p class="mb-2">E-mail:</p>
                                            <input class="form-control mb-3 w-50" type="email" value="{{representativeEmail}}" disabled>

                                            <p class="mb-2">Número de telefone:</p>
                                            <input class="form-control mb-3 w-50" type="text" value="{{representativeNumTel}}" disabled>

                                            <p class="mb-2">Número de identificação de membro:</p>
                                            <input class="form-control mb-3 w-50" type="text" value="{{representativeNumIDmebro}}" disabled>

                                            <p class="mb-2">Província ou território:</p>
                                            <input class="form-control mb-3 w-50" type="text" value="{{representativeProvOrTer}}" disabled>

                                            <p class="mb-2">Código postal:</p>
                                            <input class="form-control mb-3 w-50" type="text" value="{{representativeCodpostal}}" disabled>
                                        {{/if}}
                                    
                                        <hr>

                                        <h3 class="h5">Perguntas de validação</h3>

                                        <p class="mb-2">Qual documento de viagem você pretende usar para viajar ao Canadá?</p>
                                        <select class="form-control w-50 mb-3" disabled >
                                            <option>{{document}}</option>
                                        </select>

                                        <p class="mb-2">Selecione o código que corresponde ao do seu passaporte.</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option>{{codPassport}}</option>
                                        </select>

                                        <p class="mb-2">Qual é a nacionalidade indicada neste passaporte?</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option>{{nationalityPassport}}</option>
                                        </select>

                                        {{#verifyCodPassport codPassport residentUSCIS airplane canadaVisa nonImmigrateVisa}}{{/verifyCodPassport}}

                                        <hr>

                                        {{#if nonImmigrateVisa}}
                                            <h3 class="h5">Dados de Não-Imigrante</h3>

                                            <p class="mb-2">Número do visto de não imigrante nos EUA</p>
                                            <input type="text" class="form-control mb-3 w-50" value="{{numVisaNonImmigrate}}" disabled>
                                            
                                            <p class="mb-2">Data de expiração do visto americano de não-imigrante</p>
                                            <input type="date" class="form-control mb-3 w-25" value="{{dateVisaNonImmigrate}}" disabled>

                                            <hr>
                                        {{/if}}
                                    
                                        <h3 class="h5">Dados do passaporte do requerente</h3>

                                        <p class="mb-2">Número do passaporte</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{numPassport}}" disabled>

                                        <p class="mb-2">Data de emissão do passaporte</p>
                                        <input type="date" class="form-control w-25 mb-3" value="{{doiPassport}}" disabled>

                                        <p class="mb-2">Data de expiração do passaporte</p>
                                        <input type="date" class="form-control w-25 mb-3" value="{{doePassport}}" disabled>

                                        <p class="mb-2">Nome</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{firstName}}" disabled>

                                        <p class="mb-2">Sobrenome(s)</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{surname}}" disabled>

                                        <p class="mb-2">Data de Nascimento</p>
                                        <input type="date" class="form-control mb-3 w-25" value="{{dateBirthday}}" disabled>

                                        <p class="mb-2">Gênero</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option>{{gender}}</option>
                                        </select>

                                        <p class="mb-2">País/território de nascimento</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option>{{countryBirth}}</option>
                                        </select>
                                    
                                        <p class="mb-2">Cidade/município de nascimento</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{cityBirth}}" disabled>

                                        <hr>

                                        <h3 class="h5">Dados pessoais do requerente</h3>

                                        <p class="mb-2">Nacionalidade adicional</p>
                                        <textarea class="form-control mb-3" rows="3" disabled>{{nationalitiesExtra}}</textarea>

                                        <p class="mb-2">Estado civil</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option>{{maritalStatus}}</option>
                                        </select>

                                        <p class="mb-2">Você já solicitou ou obteve um visto, um eTA ou uma permissão para visitar, morar, trabalhar ou estudar no Canadá?</p>
                                        {{#if appliedToCanada}}
                                            <p class="d-inline-block alert-success p-1 mb-3">Sim</p>

                                            <p class="mb-2">Identificador exclusivo do cliente (UCI) / visto canadiano anterior, eTA ou número de permissão</p>
                                            <input type="text" class="form-control w-50 mb-3" value="{{personalUCI}}" disabled>
                                        {{else}}
                                            <p class="d-inline-block alert-danger p-1 mb-3">Não</p>
                                        {{/if}}
                                    
                                        <hr>

                                        <h3 class="h5">Informações de emprego</h3>

                                        <p class="mb-2">Profissão</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option value="">{{occupation}}</option>
                                        </select>

                                        <p class="mb-2">Cargo</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option>{{employmentTitle}}</option>
                                        </select>

                                        <p class="mb-2">Nome do empregador ou escola, conforme o caso</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{employmentCompanyName}}" disabled>

                                        <p class="mb-2">País/território</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option>{{employmentCountry}}</option>
                                        </select>

                                        <p class="mb-2">Cidade/município</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{employmentCity}}" disabled>

                                        <p class="mb-2">Desde que ano?</p>
                                        <select class="form-control w-50 mb-3" disabled >
                                            <option>{{employmentFromDateYear}}</option>
                                        </select>

                                        <hr>

                                        <h3 class="h5">Informações de contato</h3>

                                        <p class="mb-2">Endereço de e-mail</p>
                                        <input type="email" class="form-control w-50 mb-3" value="{{contactEmail}}" disabled>

                                        <p class="mb-2">Celular</p>
                                        <input type="tel" class="form-control w-50 mb-3" value="{{contactTel}}" disabled>

                                        <hr>

                                        <h3 class="h5">Endereço residencial</h3>

                                        <p class="mb-2">Endereço</p>
                                        <input type="text" class="form-control mb-3" value="{{addressName}}" disabled>
                                           
                                        <p class="mb-2">Número</p>
                                        <input type="text" class="form-control mb-3" value="{{addressNumber}}" disabled>

                                        <p class="mb-2">Complemento</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{addressComplement}}" disabled>
                                        
                                        <p class="mb-2">Cidade/município</p>
                                        <input type="text" class="form-control mb-3" value="{{addressCity}}" disabled>

                                        <p class="mb-2">Estado/Região</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{addressState}}" disabled>
                                        
                                        <p class="mb-2">País</p>
                                        <select class="form-control mb-3" disabled>
                                            <option>{{addressCountry}}</option>
                                        </select>
                            
                                        <hr>

                                        <h3 class="h5">Informação de viagem</h3>

                                        <p class="mb-2">Você sabe quando vai viajar para o Canadá?</p>
                                        {{#if travelWhen}}
                                            <p class="d-inline-block alert-success p-1 mb-3">Sim</p>

                                            <p class="mb-2">Quando você pretende viajar para o Canadá?</p>
                                            <input type="date" class="form-control w-25 mb-3" value="{{travelDate}}" disabled>

                                            <p class="mb-2">Insira o horário de partida do seu voo para o Canadá</p>
                                            <input type="time" class="form-control w-25 mb-3" value="{{travelTime}}" disabled>

                                            <p class="mb-2">Escolha o fuso horário de partida do voo</p>
                                            <select class="form-control mb-3" disabled>
                                                <option>{{travelTimeZone}}</option>
                                            </select>
                                        {{else}}
                                            <p class="d-inline-block alert-danger p-1 mb-3">Não</p>
                                        {{/if}}

                                        <hr>

                                        <h3 class="h5">Perguntas básicas</h3>

                                        <p class="mb-2">Você já teve um visto ou permissão negado, entrada negada ou ordem de deixar o Canadá ou qualquer outro país/território?</p>
                                        {{#if refusedVisaToCanda}}
                                            <p class="d-inline-block alert-success p-1 mb-3">Sim</p>

                                            <p class="mb-2">Para cada recusa, por favor, indique o país que lhe recusou o visto ou autorização, ou que lhe negou a entrada, bem como os motivos apresentados pelo país.</p>
                                            <textarea class="form-control w-50 mb-3" rows="5" disabled>{{refusedVisaToCandaDetails}}</textarea>
                                        {{else}}
                                            <p class="d-inline-block alert-danger p-1 mb-3">Não</p>
                                        {{/if}}
                                    
                                        <p class="mb-2">Você já cometeu, foi preso, acusado ou condenado por algum crime em qualquer país/território?</p>
                                        {{#if criminalOffenceAnywhere}}
                                            <p class="d-inline-block alert-success p-1 mb-3">Sim</p>

                                            <p class="mb-2">Para cada prisão, acusação ou condenação, indique onde (cidade, país), quando (mês/ano), a natureza do delito e a sentença.</p>
                                            <textarea class="form-control w-50 mb-3" rows="5" disabled>{{criminalOffenceAnywhereDetails}}</textarea>
                                        {{else}}
                                            <p class="d-inline-block alert-danger p-1 mb-3">Não</p>
                                        {{/if}}

                                        <p class="mb-2">Nos últimos dois anos, você foi diagnosticado com tuberculose ou esteve em contato próximo com uma pessoa com tuberculose?</p>
                                        {{#if tuberculosis}}
                                            <p class="d-inline-block alert-success p-1 mb-3">Sim</p>

                                            <p class="mb-2">O seu contato com a tuberculose é resultado de ser um profissional de saúde?</p>
                                            {{#if tuberculosisResultCareWorker}}
                                                <p class="d-inline-block alert-success p-1 mb-3">Sim</p>

                                                <p class="mb-2">Você já foi diagnosticado com tuberculose?</p>
                                                {{#if diagnosedWithTuberculosis}}
                                                    <p class="d-inline-block alert-success p-1 mb-3">Sim</p>
                                                {{else}}
                                                    <p class="d-inline-block alert-danger p-1 mb-3">Não</p>
                                                {{/if}}
                                            {{else}}
                                                <p class="d-inline-block alert-danger p-1 mb-3">Não</p>
                                            {{/if}}
                                        {{else}}
                                            <p class="d-inline-block alert-danger p-1 mb-3">Não</p>
                                        {{/if}}
                                    
                                        <p class="mb-2">Você tem uma dessas condições?</p>
                                        <select class="form-control w-50 mb-3" disabled>
                                            <option>{{theseConditions}}</option>
                                        </select>

                                        <p class="mb-2">Indique brevemente se há detalhes adicionais pertinentes à sua inscrição</p>
                                        <textarea class="form-control w-50 mb-3" rows="5" disabled>{{canadaDuringStayDetails}}</textarea>

                                        <p class="mb-2">Assinatura do requerente</p>
                                        <input type="text" class="form-control w-50 mb-3" value="{{consentAndDeclaration}}" disabled>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- --}}

                        {{!-- SOLICITAÇÂO MODAL EXCLUSÃO --}}
                        <div class="modal fade delete{{id}}" tabindex="-1" aria-pledby="exampleModalP" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalP">Você tem certeza?</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-p="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Os dados da solicitação serão excluídos para sempre. Você deseja prosseguir com a exclusão?</p>
                                        <p>Cliente: {{firstName}} {{surname}}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
                                        <a href="/admin/delete-visa/{{id}}" class="btn btn-danger">Excluir</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- --}}

                        {{!-- SOLICITAÇÂO MODAL ATUALIZAÇÃO --}}
                        <div class="modal fade update{{id}}" tabindex="-1" aria-pledby="exampleModalP" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalP">Atualize o status da aplicação</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-p="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Cliente: {{firstName}} {{surname}}</p>
                                        <form action="/admin/edit-visa/{{id}}" method="POST" enctype="multipart/form-data">
                                            <p class="statusETA mb-2">Status da aplicação</p>
                                            <select class="form-control mb-3" name="statusETA" id="statusETA{{id}}" required>
                                                <option disabled>Selcione</option>
                                                <option value="Recusado">Recusado</option>
                                                <option value="Aprovado">Aprovado</option>
                                            </select>

                                            <p class="formFileMultiple form-p mb-2">Anexos do processo</p>
                                            <input type="file" class="form-control mb-3" id="formFileMultiple" name="attachments" multiple>

                                            <input type="submit" class="btn btn-warning fw-bold text-uppercase mt-4" value="Atualizar">
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Fechar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{!-- --}}
                        
                        <script>
                             window.addEventListener("load", () => {
                                setTimeout(() => {
                                    const statusETA = document.getElementById("statusETA{{id}}")
                                    if(statusETA) statusETA.value = "{{statusETA}}"
                                })
                            })
                        </script>
                    {{/each}}
                    <div class="d-flex flex-column justify-content-center my-2">
                        <p>Total de solicitações registradas: {{totalVisas}}</p>
                        <div class="d-flex flex-row justify-content-center gap-3">
                            {{#pagination page totalPages limit sort}}{{/pagination}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    document.getElementById('link-logo-home').href = '/admin'

    var elementoPai = document.getElementById("header-container")
    var novoElementoFilho = document.createElement("div")
    novoElementoFilho.innerHTML = `
        <a href="/admin/register-user" class="mx-4" style="color: white">Registrar usuário</a>
        <a href="/admin/consult-users" class="mx-4" style="color: white">Consultar usuários</a>
        <a href="/admin/consult-payments" class="mx-4" style="color: white">Consultar pagamentos</a>
        <a href="/users/logout" class="ms-4 btn btn-danger text-upperccase fw-bold">Sair</a>
    `
    elementoPai.appendChild(novoElementoFilho)

    window.onload = function() {
        document.getElementById("sort").value = "{{sort}}"
        document.getElementById("limit").value = "{{limit}}"
    }
</script>

